// vars
@import './shared/variables';

// fonts
@import './shared/fonts.scss';
// header styles
@import './components/header';

body {
  font-family: 'Montserrat', 'Helvetica';
  box-sizing: border-box;
  margin: 0;
  
}
.App {
  height: 100%;
}
.base-layout {
  z-index: 0;
  height: 100vh;
}
