// vars
@import './shared/variables';

// fonts
@import './shared/fonts.scss';
// header styles
@import './components/header';

body {
  font-family: 'Montserrat', 'Helvetica';
  box-sizing: border-box;
  margin: 0;
}
